<h1>Airline Planner</h1>
<h2>Add new flight</h2>
<hr/>
<form action="/flights" method="post">

  <label for="flight-name">Flight name:</label>
  <input id="flight-name" name="flight-name" type="text">

  <label for="departure-time">Departure time:</label>
  <input id="departure-time" name="departure-time" type="text">
  <label for="departure-city">Departure city:</label>
  <select id="departure-city-id" name="departure-city-id">
      @foreach(var thisDepartureCity in Model)
      {
        <option value="@thisDepartureCity.GetCityId()">@thisDepartureCity.GetCityName()</option>
      }
  </select>



  <label for="arrival-time">Arrival time:</label>
  <input id="arrival-time" name="arrival-time" type="text">
  <label for="arrival-city">Arrival city:</label>
  <select id="arrival-city-id" name="arrival-city-id">
      @foreach(var thisArrivalCity in Model)
      {
        <option value="@thisArrivalCity.GetCityId()">@thisArrivalCity.GetCityName()</option>
      }
  </select>

  <label for="status">Status:</label>
  <input id="status" name="status" type="text">


  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
