@using AirlinePlanner.Models;

<h1>AirlinePlanner</h1>
<h2>City: @Model["selectedCity"].GetCityName()</h2>
<hr />
@if (@Model["cityFlights"].Count != 0)
{
  <h4>This city has these flights:</h4>
  <ul>
    @foreach (Flight flight in @Model["cityFlights"])
    {
      <li>@flight.GetFlightName()</li>
    }
  </ul>
}

<p><a href="/">Return to Main Page</a></p>
